@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
  * {
    scrollbar-width: thin;
    scrollbar-color: black transparent;
  }

  *::-webkit-scrollbar {
    width: 3px;
    height: 4px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
    margin: 7px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #00000092;
    border: 0px solid transparent;
  }

  *::-webkit-scrollbar-corner {
    background-color: transparent;
    border: 0px solid transparent;
  }
}

#Banner > video,
#bgImgPerfil {
  -webkit-mask-image: linear-gradient(to bottom, #000000, transparent 97%);
  mask-image: linear-gradient(to bottom, #000000, transparent 97%);
}
